.logo .top-bar{
  background:#ecfaff;
}
.top-bar{
  background: rgb(8,15,67);
  text-align: center;
  border-radius: 2px;
}
.top-bar-section {
display: inline-block;
}
.name img{
  margin-top: 11px;
  margin-left: 20px;
  height: 110px;
  border-top-width: 10px;
  margin-top: 0px;
  margin-bottom: 10px;
  margin-right: 10px;
}

.small-9 columns {
  border-bottom-width: 10px;
  bottom: auto;
  top: 10px;
}
h1{
  text-align: center;
  font-family: cursive;
  color: rgb(8,15,67);
  margin-bottom: -5px;
}
.top-bar-section li.active:not(.has-form) a:not(.button) {
  background: rgb(8,15,67);
  color:rgb(240,191,49);
}
.top-bar-section li:not(.has-form) a:not(.button){
  background: rgb(8,15,67);
  color:rgb(240,191,49);
}

.top-bar-section a:hover{
  background-color: #ecfaff !important;
}

.example-orbit img{
  margin:0 auto;
}
.orbit-caption{
  margin:0 auto;
}

.orbit-container{
  margin-left: 18%;
  height: 420px;
  width: 790px;
}
.orbit-container .orbit-prev span,
.orbit-container .orbit-next span {
    color: rgb(240,191,49);
    border: none;
    font-size: 70px;
    text-indent: 0;
    margin-top: -32px;
}

.orbit-container .orbit-prev {
    background-color: rgb(8,15,67);
}
.orbit-container .orbit-prev span:before {
    content: "\2039";
}
.orbit-container .orbit-next {
    background-color: rgb(8,15,67);
}
.orbit-container .orbit-next span:before {
    content: "\203A";
}
h3{
  text-align: center;
  font-family: cursive;
  color: rgb(8,15,67);
  border-left-width: 50px;
  padding-left: 300px;
}
.small-block-grid-3 {
  margin-left: 140px;
  margin-right: 120px;
}

.panel.callout {
  border-color: rgb(240,191,49);
  background: rgb(8,15,67);
  color: rgb(240,191,49);
}
.panel.callout h4{
  color: rgb(240,191,49);
}
.panel.callout p{
  color: rgb(240,191,49);
}
.panel.callout a{
  color: rgb(240,191,49);
  text-decoration: none;
  font-size: 1rem;
}
body{
  background-color: #ecfaff;
}
